body{
    height: 100vh;
    background: url(/homebg.jpg) center/cover no-repeat ;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

/* darkmode */
body.dark{
    background: rgb(64, 62, 62);
    color: rgb(81, 110, 110);
}



.title{
    position: absolute;
    width: auto;
    font-size: 30px;
    color: rgb(30, 109, 110);
    display: flex;

} 

.darkMode{
    position: relative;
    color: black;
    background-color: rgb(93, 91, 91);
    width: 104px;
    font-size: 15px;
    padding: 5px;

}

.title span{
    font-size: 15px;
}



.menu{
    display: flex;
    flex-direction: column;
    margin-top: 170px;


}

.menu button{
    color: rgba(3, 3, 3, 0.879);
    background-color: bisque;
    transition: all 0.5s ease-in;
}

.menu button .dark{
    color: rgba(3, 3, 3, 0.879);
    background-color: rgb(45, 42, 38);
}

.menu button:hover{
    color: bisque;
    background-color: black;
    transform: scale(1.03);
}

.instructionsPane{
    display: block;
    margin-top: 25%;
    border: 2px solid black;
    background-color: antiquewhite;

}

.settingsPane{
    display: block;
    margin-top: 25%;
}

.scoreBoard{
    display: flex;
    padding: 20px;
    height: auto;
    flex-direction: column;
    font-size: 50px;
    margin-top: 150px;
    border: 2px solid black;
}


.container{
    height: 430px;
    width: 500px;
    margin-top: 110px;
    border: 2px solid black;
    padding: 30px;
    border-radius: 10px;
    background-color: rgb(140, 137, 142);
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 30px;
}

body.dark .container{
    background-color: rgb(35, 34, 36);
}

.scores{
    display: block;
    height: 200px;
    width: auto;
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    margin:5px;
    font-size: 15px;
    font-weight: bold;

}


#board{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    background-color: rgb(95, 77, 54);

}

body.dark #board{
    background-color: rgb(34, 30, 21);
}

button{
    padding: 10px;
    margin: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    background-color: rgba(59, 85, 85, 0.413);

}

.resetBtn{
    position: absolute;
    margin-left: 10px;
    background-color: rgba(59, 85, 85, 0.413);
}



.cell{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 5px;
    height: 120px;
    width: 120px;
    font-size: 3rem;
    transition: all 0.4s ease;
    color: rgb(57, 132, 25);
    
}

body.dark .cell{
    color: rgb(55, 28, 81);
    
}

.cell:hover{
    background-color: rgb(161, 141, 115);
    transform: scale(1.02);
    cursor: pointer;
}

body.dark .cell:hover{
    background-color: rgb(62, 55, 38);
}

.winner{
    background: yellow;
    font-weight: bold;
}


body.dark .winner{
    background: rgb(75, 75, 20);
}


button:hover{
    color:white;
    background-color: black;
    transform: scale(1.02);
}

.cell.gameOver:hover{
    cursor: default;
    background:  rgb(95, 77, 54);
    transform: none;
}

.hidden{
    display: none;
}

