body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/20250112_153820.jpg) center/ cover no-repeat;
}

.container{
    border: 2px solid black;
    padding: 30px;
    border-radius: 10px;
    background-color: rgb(70, 105, 8);
}

.clock{
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: rgb(14, 34, 34);

}

#hand{
    width: 2px;
    height: 75px;
    background-color: antiquewhite;
    position: absolute;
    top: 26.8%;
    left: 47%;
    transform-origin: bottom;
    transform: rotate(0deg);
    transform: 0.3s ease;

}

#time{
    font-size: 40px;
    
}

.buttons{
    display: flex;
    justify-content: space-between;
}

button{
    border: 2px solid black;
    border-radius: 6px;
    padding:6px;
    font-weight: bold;
    background-color:rgb(50, 42,32) ;
    color: rgb(231, 218, 203);
    cursor: pointer;
    transition: 0.3s;
}

#start:hover, #pause:hover, #reset:hover{
    background: rgb(85, 75, 64);
    transform:scaleX(1.05);
}